@use "../abstracts" as *;

.capabilities {
  background: #fff8e4;
  padding: rem(120) 0 rem(150);

  &__body {
  }

  &__heading {
    margin-bottom: rem(60);
    text-align: center;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(110);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-bottom: rem(25);
  }

  &__title {
    margin-bottom: rem(20);
    font-size: rem(25);
    font-weight: 700;
  }

  &__desc {
    text-align: center;
    max-width: 30ch;
    font-size: rem(18);
  }
}
