@use "../abstracts" as *;

.partners {
    background: hsl(14, 100%, 75%);
    padding: rem(110) 0;

  &__body {
  }

  &__heading {
    margin: 0 auto rem(70);
    text-align: center;
    max-width: 23ch;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
  }
}
