@use "../abstracts" as *;

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a,
a:visited,
a:active {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: rem(65);
  font-weight: 700;
}

h2 {
  font-size: rem(50);
  font-weight: 700;
}