@use "../abstracts/" as *;

button {
  all: unset;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }
}

.button-black {
  border: 1px solid hsla(0, 0%, 0%, 0.5);
  background: #fff;
  color: #000;

  transition: background 0.15s ease-in, color 0.15s ease;

  &:hover,
  &:focus {
    background: #000;
    color: #fff;
  }
}

.button-orange {
  border: 1px solid hsl(13, 100%, 61%);
  background: hsl(13, 100%, 61%);
  color: #fff;
  transition: background 0.15s ease-in, color 0.15s ease;

  &:hover,
  &:focus {
    background: hsl(13, 69%, 53%);
    color: #fff;
  }
}
